@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', serif;
    scroll-behavior: smooth;
}

p {
    font-weight: 300;
    color: black;
}

body {
    min-height: 1000px;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(first%20food.jpg);
    background-size: cover;
}

.banner .content {
    max-width: 900px;
    text-align: center;
}

.banner .content h2 {
    font-size: 5em;
    color: white;
}

.banner .content p {
    font-size: 1em;
    color: white;
}

.btn {
    font-size: 1em;
    color: brown;
    background: #fff;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn:hover {
    letter-spacing: 6px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .logo {
    color: white;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header.sticky .logo {
    color: black;
}

header .logo span {
    color: aqua;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}

header.sticky .navigation li a {
    color: black;
}

header .navigation li a:hover {
    color: brown;
}

section {
    padding: 100px;
}

.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.row .co150 {
    position: relative;
    width: 48%;
}

.titletext {
    color: black;
    font-size: 2em;
    font-weight: 300;
}

.titletext span {
    color: red;
    font-weight: 700;
    font-size: 1.5em;
}

.row .co150 .imgBx {
    position: relative;
    width: 100%;
    min-height: 480px;
}

.row .co150 .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu .content {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}

.menu .content .box {
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}

.menu .content .box .imgBx {
    position: relative;
    width: 100%;
    height: 300px;
}

.menu .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu .content .box .text {
    padding: 15px 0 5px;
}

.menu .content .box .text h3 {
    font-weight: 400;
    color: black;
}

.testimonials {
    background: url(bg.jpg);
    background-size: cover;
}

.white .titletext,
.white p {
    color: white;
}

.testimonials .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.testimonials .content .box {
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonials .content .box .imgBx {
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.testimonials .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials .content .box .text {
    text-align: center;
}

.testimonials .content .box .text p {
    color: #666;
    font-style: normal;
}

.testimonials .content .box .text h3 {
    margin-top: 20px;
    color: #111;
    font-size: 1em;
    color: #ff0157;
    font-weight: 600;
}

.contact {
    background: #fff;
    background-size: cover;
}

.contactform {
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin-top: 50px;
}

.contactform h3 {
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}

.contactform .inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactform .inputBox input,
.contactform .inputBox textarea {
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}

.contactform .inputBox input[type="submit"] {
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.copyrightText {
    padding: 8px 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

copyrightText p {
    color: #333;
}

.copyrightText a {
    color: #ff0157;
    font-weight: 500;
    text-decoration: none;
}

@media (max-width: 991px) {

    header,
    header.sticky {
        padding: 10px 20px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }

    header .navigation li {
        margin-left: 0;
    }

    header .navigation li a {
        text-decoration: none;
        color: black;
        font-size: 1.6em;
        font-weight: 300;
    }

    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(menupng.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menuToggle.active {
        background: url(close.jpg);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;

    }

    header.sticky .menuToggle {
        filter: invert(1);
    }

    section {
        padding: 20px;
    }

    .banner .content h2 {
        font-size: 3em;
        color: #fff;
    }

    .row {
        flex-direction: column;
    }

    .row .co150 {
        position: relative;
        width: 100%;
    }

    .row .co150 .imgBx {
        height: 300px;
        margin-top: 20px;
    }

    .menu .content {
        margin-top: 20px;
    }

    .menu .content .box {
        margin: 10px;
    }

    .menu .content .box .imgBx {
        height: 260px;
    }

    .title {
        text-align: center;
    }

    .titletext {
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }

    .testimonials .content .box {
        margin: 10px;
        padding: 20px;
    }

    .contactform {
        padding: 35px 4opx;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .banner .content h2 {
        font-size: 2.2em;
        color: #fff;
    }
}


.order .row {
    padding: 2rem;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border-radius: .5rem;
    1rem;
}

.order .row .image {
    flex: 1 1 15rem;
}

.order .row .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.order .row form {
    flex: 1 1 20rem;
    padding: 1rem;
}

.order .row form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.order .row form .inputBox input,
.order .row form textarea {
    padding: 1rem;
    margin: 1rem 0;
    font-size: 0.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0, 0, 0, .3);
    border-radius: .5rem;
    width: 49%;
}

.order .row form textarea {
    width: 100%;
    resize: none;
    height: 15rem;
}

.order .row form .btn {
    background: none;

}

.footer {
    padding: 40px 0;
    background-color: white;

}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: black;
}

.footer .social a {
    font-size: 25px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer ul li a {
    color: inherit;
    text-decoration: none;

}

.footer ul li {
    display: inline-block;
    padding: 0 80px;

}
